<%
const activePage = 'course';
%>
<html lang="en">
  <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs', { activePage: activePage }) %>
        <div class="content">
            <div class="page_header">
                <h3> <%= Course.name %></h3>
            </div>
            <p><%= Course.description %></p>
            <% if (usr.role === 'student') { %>
            <form method="GET" action="/course/dropCourse/<%= Course._id %>" class="cart">
                <input type="submit" value="Drop Course" style="background: #96223f"/>
            </form>
            <% } else { %>
                <a href='../editCourse/<%= Course._id%>' style="width: 100%; display: flex; align-items: center;"><button style><i class='fa-solid fa-pen-to-square' style='color: #fff'></i> Edit Course</button></a>
            <% } %>
        </div>
    </body>
</html>